In [1]:
#Importing Libraries
import pandas as pd
import numpy as np

In [2]:
#Read CSV file/ Importing dataset
df=pd.read_csv('social media influencers-youtube.csv')

In [3]:
#Chechking the data
#df.head()

In [4]:
#Chechking the data
#df.tail()

In [10]:
#Renaming column name for better knowledge
df.rename(columns={'Views (Avg.) ==0':'Views'},inplace=True)
df.rename(columns={'Likes (Avg.)':'Likes'},inplace=True)
df.rename(columns={'Comments (Avg.)':'Comments'},inplace=True)
df.rename(columns={'Followers':'Subscriber'},inplace=True)
df.rename(columns={'youtuber name':'Youtuber name'},inplace=True)

In [11]:
df

,s.no,Youtube channel,Youtuber name,Category,Subscriber,Country,Views,Likes,Comments,Category-2
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN
3,4,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,300.5K,56.7K,Humor
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102.5M,NaN,2.4M,15.7K,0,Toys
...,...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,NaN,10.1M,Brazil,215.4K,25.2K,1.3K,NaN
996,997,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98.4K,4K,884,NaN
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10.1M,Indonesia,218.3K,4.5K,306,NaN
998,999,MBCkpop,MBCkpop,Music & Dance,10.1M,Malaysia,19.7K,2.6K,92,NaN
999,1000,Dynamo Gaming,Dynamo Gaming,NaN,10.1M,India,139.6K,15.4K,125,NaN

In [13]:
#Drop unnecessary column
df.drop(columns=['Category-2'],inplace=True)
df

,s.no,Youtube channel,Youtuber name,Category,Subscriber,Country,Views,Likes,Comments
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K
3,4,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,300.5K,56.7K
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102.5M,NaN,2.4M,15.7K,0
...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,NaN,10.1M,Brazil,215.4K,25.2K,1.3K
996,997,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98.4K,4K,884
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10.1M,Indonesia,218.3K,4.5K,306
998,999,MBCkpop,MBCkpop,Music & Dance,10.1M,Malaysia,19.7K,2.6K,92
999,1000,Dynamo Gaming,Dynamo Gaming,NaN,10.1M,India,139.6K,15.4K,125

In [14]:
#Handlling null data
new_df=df.fillna({
    'Country':'Not-Reveal'
})
new_df

,s.no,Youtube channel,Youtuber name,Category,Subscriber,Country,Views,Likes,Comments
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,Not-Reveal,9.5M,48.3K,0
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K
3,4,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,300.5K,56.7K
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102.5M,Not-Reveal,2.4M,15.7K,0
...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,NaN,10.1M,Brazil,215.4K,25.2K,1.3K
996,997,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98.4K,4K,884
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10.1M,Indonesia,218.3K,4.5K,306
998,999,MBCkpop,MBCkpop,Music & Dance,10.1M,Malaysia,19.7K,2.6K,92
999,1000,Dynamo Gaming,Dynamo Gaming,NaN,10.1M,India,139.6K,15.4K,125

In [15]:
#Conversion of data to get required information
def convert_into_int(value):
    if 'K' in value:
        return int(float(value.replace('K',''))*1000)
    elif 'M' in value:
        return int(float(value.replace('M',''))*1000000)
    else:
        return  int(value)
new_df['Comments']=new_df['Comments'].apply(convert_into_int)    
new_df['Likes']=new_df['Likes'].apply(convert_into_int)
new_df['Views']=new_df['Views'].apply(convert_into_int)    
new_df['Subscriber']=new_df['Subscriber'].apply(convert_into_int)
new_df

,s.no,Youtube channel,Youtuber name,Category,Subscriber,Country,Views,Likes,Comments
0,1,tseries,T-Series,Music & Dance,229500000,India,103800,2800,158
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146600000,Not-Reveal,9500000,48300,0
2,3,PewDiePie,PewDiePie,Animation,111600000,United States,1400000,110700,7800
3,4,MrBeast6000,MrBeast,Video games,109100000,United States,38400000,300500,56700
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102500000,Not-Reveal,2400000,15700,0
...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,NaN,10100000,Brazil,215400,25200,1300
996,997,FoxNewsChannel,Fox News,News & Politics,10100000,United States,98400,4000,884
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10100000,Indonesia,218300,4500,306
998,999,MBCkpop,MBCkpop,Music & Dance,10100000,Malaysia,19700,2600,92
999,1000,Dynamo Gaming,Dynamo Gaming,NaN,10100000,India,139600,15400,125

In [16]:
new_df.describe()

              s.no    Subscriber         Views         Likes       Comments
count  1000.000000  1.000000e+03  1.000000e+03  1.000000e+03    1000.000000
mean    500.500000  1.902470e+07  9.582944e+05  4.360563e+04    2074.210000
std     288.819436  1.446608e+07  3.821649e+06  1.599104e+05   12824.564941
min       1.000000  1.010000e+07  0.000000e+00  0.000000e+00       0.000000
25%     250.750000  1.180000e+07  3.987500e+04  7.320000e+02       6.000000
50%     500.500000  1.460000e+07  1.807000e+05  4.200000e+03     104.000000
75%     750.250000  2.030000e+07  7.338000e+05  2.800000e+04     837.500000
max    1000.000000  2.295000e+08  9.600000e+07  3.100000e+06  322400.000000

In [21]:
#Replacing null value as NaN
new_df=new_df.replace(0,np.NaN)
new_df

,s.no,Youtube channel,Youtuber name,Category,Subscriber,Country,Views,Likes,Comments
0,1,tseries,T-Series,Music & Dance,229500000,India,103800.0,2800.0,158.0
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146600000,Not-Reveal,9500000.0,48300.0,NaN
2,3,PewDiePie,PewDiePie,Animation,111600000,United States,1400000.0,110700.0,7800.0
3,4,MrBeast6000,MrBeast,Video games,109100000,United States,38400000.0,300500.0,56700.0
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102500000,Not-Reveal,2400000.0,15700.0,NaN
...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,NaN,10100000,Brazil,215400.0,25200.0,1300.0
996,997,FoxNewsChannel,Fox News,News & Politics,10100000,United States,98400.0,4000.0,884.0
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10100000,Indonesia,218300.0,4500.0,306.0
998,999,MBCkpop,MBCkpop,Music & Dance,10100000,Malaysia,19700.0,2600.0,92.0
999,1000,Dynamo Gaming,Dynamo Gaming,NaN,10100000,India,139600.0,15400.0,125.0

In [25]:
#Handelling null data
new_df1=new_df.fillna({	
    'Likes':4.360563e+04,
    'Comments':2074.210000
})

In [26]:
new_df1

,s.no,Youtube channel,Youtuber name,Category,Subscriber,Country,Views,Likes,Comments
0,1,tseries,T-Series,Music & Dance,229500000,India,103800.0,2800.0,158.00
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146600000,Not-Reveal,9500000.0,48300.0,2074.21
2,3,PewDiePie,PewDiePie,Animation,111600000,United States,1400000.0,110700.0,7800.00
3,4,MrBeast6000,MrBeast,Video games,109100000,United States,38400000.0,300500.0,56700.00
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102500000,Not-Reveal,2400000.0,15700.0,2074.21
...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,NaN,10100000,Brazil,215400.0,25200.0,1300.00
996,997,FoxNewsChannel,Fox News,News & Politics,10100000,United States,98400.0,4000.0,884.00
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10100000,Indonesia,218300.0,4500.0,306.00
998,999,MBCkpop,MBCkpop,Music & Dance,10100000,Malaysia,19700.0,2600.0,92.00
999,1000,Dynamo Gaming,Dynamo Gaming,NaN,10100000,India,139600.0,15400.0,125.00

In [37]:
#new_df1['Comments (Avg.)']=(new_df1['Comments (Avg.)']/1000).astype(str)+'k'
#new_df1['Likes (Avg.)']=(new_df1['Likes (Avg.)']/1000).astype(str)+'k'
#new_df1

In [27]:
#Handelling null data
new_df1=new_df1.fillna({
    'Category':'Creator'
})
new_df1

,s.no,Youtube channel,Youtuber name,Category,Subscriber,Country,Views,Likes,Comments
0,1,tseries,T-Series,Music & Dance,229500000,India,103800.0,2800.0,158.00
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146600000,Not-Reveal,9500000.0,48300.0,2074.21
2,3,PewDiePie,PewDiePie,Animation,111600000,United States,1400000.0,110700.0,7800.00
3,4,MrBeast6000,MrBeast,Video games,109100000,United States,38400000.0,300500.0,56700.00
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102500000,Not-Reveal,2400000.0,15700.0,2074.21
...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,Creator,10100000,Brazil,215400.0,25200.0,1300.00
996,997,FoxNewsChannel,Fox News,News & Politics,10100000,United States,98400.0,4000.0,884.00
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,Creator,10100000,Indonesia,218300.0,4500.0,306.00
998,999,MBCkpop,MBCkpop,Music & Dance,10100000,Malaysia,19700.0,2600.0,92.00
999,1000,Dynamo Gaming,Dynamo Gaming,Creator,10100000,India,139600.0,15400.0,125.00

In [30]:
new_df1['Dislikes']=new_df1['Likes']*0.16

In [31]:
new_df2=new_df1
new_df2

,s.no,Youtube channel,Youtuber name,Category,Subscriber,Country,Views,Likes,Comments,Dislikes
0,1,tseries,T-Series,Music & Dance,229500000,India,103800.0,2800.0,158.00,448.0
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146600000,Not-Reveal,9500000.0,48300.0,2074.21,7728.0
2,3,PewDiePie,PewDiePie,Animation,111600000,United States,1400000.0,110700.0,7800.00,17712.0
3,4,MrBeast6000,MrBeast,Video games,109100000,United States,38400000.0,300500.0,56700.00,48080.0
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102500000,Not-Reveal,2400000.0,15700.0,2074.21,2512.0
...,...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,Creator,10100000,Brazil,215400.0,25200.0,1300.00,4032.0
996,997,FoxNewsChannel,Fox News,News & Politics,10100000,United States,98400.0,4000.0,884.00,640.0
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,Creator,10100000,Indonesia,218300.0,4500.0,306.00,720.0
998,999,MBCkpop,MBCkpop,Music & Dance,10100000,Malaysia,19700.0,2600.0,92.00,416.0
999,1000,Dynamo Gaming,Dynamo Gaming,Creator,10100000,India,139600.0,15400.0,125.00,2464.0

In [32]:
#Saving of file
new_df2.to_csv('social media influencers-youtube(Final).csv')

#### Checking wheather new data set may contain null value

In [33]:

new_df2['Subscriber'].isnull().all()

False

In [34]:
new_df2['Views'].isnull().all()

False

In [35]:
new_df2['Likes'].isnull().all()

False

In [36]:
new_df2['Comments'].isnull().all()

False